body {
    background-image: url("../images/Lewis.jpg");
    background-size: cover;
    color: bisque;
}

header {
    margin-left: 25%;
}

h1 {
    font-family: 'Courgette';
    font-weight: bold;
    font-size: 200%;
}

a {
    text-decoration: none;
    color: bisque;
}

.bio a:hover {
    color: cornflowerblue;

}



img {
    border-radius: 100%;
    width: 350px;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.privacy {
    width: 50%;
    flex-wrap: wrap;
}

aside {
    width: 40%;
    flex-wrap: wrap;

}

.bio {
    width: 50%;
}

.bio a {
    background-color: beige;
    color: brown;
    padding: 2%;
    border-radius: 40%;

}

.car {
    width: 30%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: azure;
    height: 100%;
    padding: 1%;

    border-radius: 10%;
}

.menu a {
    color: brown;
    padding: 2%;
}

.menu a:hover {
    color: blueviolet;
}

footer {
    background-color: bisque;
    color: cornflowerblue;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
}