body{
    background-color: bisque;
    color: cornflowerblue;
}

    h1 {
        font-family: 'Courgette';
        font-weight: bold;
        font-size: 200%;
    }

div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
nav a{
    width: 20%;
    padding: 5%;
}
img{
     border-radius: 20%; 
    width: 400px;
}
footer {
    background-color: cornflowerblue;
    color: bisque;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
}