body {
    background-image: url("../images/Lewis.jpg");
    color: bisque;
}

header {
    margin-left: 25%;
}

.bio a {
    text-decoration: none;
    color: bisque;
}

.bio a:hover {
    color: cornflowerblue;
}

img {
    border-radius: 100%;
    width: 400px;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.privacy {
    width: 50%;
    flex-wrap: wrap;
}

aside {
    width: 50%;
    flex-wrap: wrap;
}

.bio {
    width: 50%;
}

.car {
    width: 50%;
}

footer {
    background-color: bisque;
    color: cornflowerblue;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
}